<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--加载properties文件-->
    <context:property-placeholder location="classpath:druid.properties"></context:property-placeholder>
    <!--数据源-->
    <bean class="com.alibaba.druid.pool.DruidDataSource" name="dataSource">
        <property name="driverClassName" value="${driverClassName}"></property>
        <property name="url" value="${url}"></property>
        <property name="username" value="root"></property>
        <property name="password" value="123456"></property>
    </bean>
    <!--配置sqlsessionFactorybean-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean" name="sessionFactory">
        <property name="dataSource" ref="dataSource"></property>
        <!--配置mybatis核心配置文件-->
        <property name="configLocation" value="classpath:mybatisConfig.xml"></property>
    </bean>
    <!--配置mapper扫描器-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" name="scannerConfigurer">
        <property name="basePackage" value="com.mage.dao"></property>
    </bean>
    <!--事务管理-->
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" name="transactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

</beans>